/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/*
/web/bundles/
/app/sessions/*
/web/uploads/
/nbproject/*
composer.lock
/app/config/deploy.sh
/app/config/rsync_exclude.txt