{% extends 'base.html.twig' %}
{% block title %}Workflows{% endblock %}
{% block body %}
    <h1>Workflows</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Workflow</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>{{ row.s }}</td>
            <td><a href="{{ path('provenance-workflow', { 'workflow': row.s|url_encode }) }}">Details</a> 
                | <a href="{{ path('provenance-workflows-run', { 'workflow': row.s|url_encode }) }}">Runs</a>
                | <a href="{{ path('provenance-workflow-delete', { 'workflow': row.s|url_encode }) }}">Delete</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No workflow provenance data.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
