{% extends 'base.html.twig' %}
{% block title %}Script Converter{% endblock %}
{% block body %}
    <h1>Script Converter <small>About</small></h1> 
    <p>This is the module responsible for guiding and supporting the user during the process of converting scripts into executable workflows and the bundle all resources into a Workflow Research Object.</p>
        
    <a class="btn btn-success" href="{{ path('script-converter-restart') }}"><i class="glyphicon glyphicon-plus"></i> New</a>
    <a class="btn btn-info" href="{{ path('script-converter-list') }}"><i class="glyphicon glyphicon-list-alt"></i> List</a>

    <h2>Methodology for Conversion of Scripts</h2>
    
    <div class="row">
        <div class="col-md-6">
             <div class="thumbnail">
                 <a href="http://www.lis.ic.unicamp.br/wp-content/uploads/2017/02/methodology-conver-script-workflow.png"><img class="wp-image-834 size-large" src="{{ asset('images/methodology-conver-script-workflow-1024x581.png') }}" alt="Methodology for Conversion of Scripts into Reproducible Workflow Research Objects" width="580" height="329"></a>
                  <div class="caption">
                    <h3>The Methodology</h3>
                    <p>The scientist is guided through five steps to convert scripts into Reproducible Workflow Research Objects. </p>
                    <p><a class="btn btn-default" href="http://w2share.lis.ic.unicamp.br/s2rwro/" role="button">View details &raquo;</a></p>
                  </div>
             </div>
         </div>
        <div class="col-md-6">
            <ul>
                <li><strong>Step 1:</strong> To generate the abstract workflow, access <a href="{{ path("script-converter-restart") }}">Editor</a>.</li>
                <li><strong>Step 2 & 3:</strong> To generate and refine the executable workflow and collect provenance data, download the workflow specification and use the SWfMS. Then upload the workflow specification and the provenance data from the workflow executions into W2Share.</li>
                <li><strong>Step 4:</strong> To add quality information, use the Quality Flow.</li>
                <li><strong>Step 5:</strong> to add annotations and create the Workflow Research Object, access the corresponding module.</li>
            </ul>
                <div class="alert alert-info">At this moment, we only support <a href="http://www.taverna.org.uk">Taverna workflows <i class="fa fa-external-link"></i></a>.</div>
        </div>
    </div>
    
    <h2>Recent Publications</h2>    
    <ul>
            <li>Carvalho, Lucas A. M. C.; Belhajjame, Khalid; Medeiros, Claudia Bauzer.  <b>Converting Scripts into Reproducible Workflow Research Objects.</b> Proceedings of 2016 IEEE 12th International Conference on eScience - eScience 2016, IEEE, Baltimore, Maryland, U.S.A., 2016. [<a href="http://www.lis.ic.unicamp.br/wp-content/uploads/2016/08/converting-scripts-reproducible-camera-ready.pdf">PDF</a>]</li>
    </ul>        

{% endblock %}