{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}
{% block body %}
<h1>About</h1> 
    <h4><strong>Homepage</strong></h4>
    <a href="http://www.lis.ic.unicamp.br/current-projects/experiment-reproducibility-and-workflow-management/">Experiment reproducibility and workflow management</a>
    <h4><strong>Funding Institutions:</strong></h4>
    FAPESP – São Paulo Research Foundation
    <br/><a href="http://www.bv.fapesp.br/en/bolsas/155651/modeling-data-through-different-science-experiments-using-scientific-workflow-and-ontologies/">Modeling data through different science experiments using scientific workflow and ontologies</a>. (grant #2014/23861-4)

    <h4><strong>People involved:</strong></h4>
    <a href="http://www.lis.ic.unicamp.br/~lucascarvalho">Lucas Carvalho</a>, <a href="http://www.lis.ic.unicamp.br/~joana">Joana Malaverri</a> and Juan Beleño Diaz.

    <h4><strong>Person in charge:</strong></h4>
    <a href="http://www.ic.unicamp.br/~cmbm">Claudia Bauzer Medeiros</a>


    <h2><strong>Project Overview</strong></h2>
    <div class="row">
        <div class="col-md-9">
            <p>The goal of this project is to develop a data infrastructure supporting sharing, reuse and reproducibility of data and models. The idea is to adopt the notion of scientific workflows as the basis to specify executable models, and create a common computational platform to design, annotate and reuse such workflows. 
                This infrastructure will provide a common data infrastructure to all researchers in the Center for Computational Engineering &amp; Sciences (CCES) (a.k.a. <a href="http://www.escience.org.br" target="_blank">eScience Unicamp</a>). 
                The CCES scientists will test/apply the data and models used and/or produced by the Center in the infrastructure.</p>
        </div>
        <div class="col-md-3">
            <a href="http://www.escience.org.br"><img src="{{ asset('images/logo_escience.png') }}" alt="logo eScience Unicamp" /></a></p>   
        </div>
    </div>
    <p><a href="{{ asset('images/methodology-conver-script-workflow-1024x581.png') }}" ><img src="{{ asset('images/methodology-conver-script-workflow-1024x581.png') }}" alt="Methodology for Conversion of Scripts into Reproducible Workflow Research Objects" width="580" height="329"></a></p>
    <br>Figure: Methodology for Conversion of Scripts into Reproducible Workflow Research Objects

    <h2>Recent Publications</h2>
    <ul>
            <li>Carvalho, Lucas A. M. C.; Malaverri, Joana E. Gonzales; Medeiros, Claudia Bauzer.
                <b>Implementing W2Share: Supporting Reproducibility and Quality Assessment in eScience.</b>
                In Proceedings of the 11th BreSci - Brazilian e-Science Workshop, Sociedade Brasileira de Computação (SBC), July 5-6, 2017, São Paulo, Brazil, 2017.
                [<a href="http://www.lis.ic.unicamp.br/wp-content/uploads/2017/05/w2share-bresci2017-camera-ready.pdf">PDF</a>]
            </li>
    </ul>
    <ul>
            <li>Carvalho, Lucas A. M. C.; Belhajjame, Khalid; Medeiros, Claudia Bauzer.  
                <b>Converting Scripts into Reproducible Workflow Research Objects.</b> 
                In Proceedings of 2016 IEEE 12th International Conference on eScience - eScience 2016, IEEE, October 23-27, 2016, Baltimore, Maryland, U.S.A., 2016. 
                [<a href="http://www.lis.ic.unicamp.br/wp-content/uploads/2016/08/converting-scripts-reproducible-camera-ready.pdf">PDF</a>]</li>
    </ul>
    <ul>
            <li>Carvalho, Lucas A. M. C.; Silveira, Rodrigo L.; Pereira, Caroline S.; Skaf, Munir S.; Medeiros, Claudia Bauzer.  
            <b>Provenance-Based Retrieval: Fostering Reuse and Reproducibility Across Scientific Disciplines</b>. Provenance and Annotation of Data and Processes (Proceedings of 6th International Provenance and Annotation Workshop - IPAW 2016), LNCS 9672. Springer International Publishing, McLean, Virginia, U.S.A., 2016, ISBN: 978-3319405926. 
            [<a href="http://www.lis.ic.unicamp.br/wp-content/uploads/2016/05/ipaw2016-poster-cameraready.pdf">PDF</a>]</li>
    </ul>    
    
    <h2>Third-Party Resources</h2>
    <p>We thank the following open source projects that made possible the development of our prototype:</p>
    <ul>
        <li>Research Object manager: <a href="https://github.com/wf4ever/ro-manager">https://github.com/wf4ever/ro-manager</a></li>
        <li>YesWorkflow Prototype: <a href="https://github.com/yesworkflow-org/yw-prototypes">https://github.com/yesworkflow-org/yw-prototypes</a></li>
        <li>YesWorkflow Editor WebApp: <a href="https://github.com/yesworkflow-org/yw-editor-webapp">https://github.com/yesworkflow-org/yw-editor-webapp</a></li>
        <li>YesWorkflow Graph Service: <a href="https://github.com/yesworkflow-org/yw-graph-service">https://github.com/yesworkflow-org/yw-graph-service</a></li>
        <li>Taverna-t2flow: <a href="https://github.com/myExperiment/workflow_parser-t2flow">https://rubygems.org/gems/taverna-t2flow/versions/0.5.1</a></li>
        <li>Virtuoso Opensource Edition: <a href="https://github.com/openlink/virtuoso-opensource">https://github.com/openlink/virtuoso-opensource</a></li>
        <li>Symfony Framework: <a href="https://github.com/symfony/symfony">https://github.com/symfony/symfony</a></li>
        <li>Balcazapy: <a href="https://github.com/jongiddy/balcazapy">https://github.com/jongiddy/balcazapy</a></li>
        <li>EasyRDF: <a href="https://github.com/njh/easyrdf">https://github.com/njh/easyrdf</a></li>
        <li>Taverna 2.5: <a href="http://www.taverna.org.uk">http://www.taverna.org.uk</a></li>
        <li>Bootstrap <a href="https://github.com/twbs/bootstrap">https://github.com/twbs/bootstrap</a></li>
        <li>jQuery <a href="https://github.com/jquery/jquery">https://github.com/jquery/jquery</a></li>
    </ul>
{% endblock %}