{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
<h1>Contact</h1> 

<p>If you want to contact us, please send a message to Lucas Carvalho [first_name].[last_name]@ic.unicamp.br.</p>
{% endblock %}

