{% extends 'base.html.twig' %}
{% block title %}Query Result{% endblock %}
{% block body %}
<h1>Query Result</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>    
                <th>Title</th>    
            </tr>
        </thead>
        <tbody>
    {% for row in pagination %}
        <tr>
            <td>{{ row.title.value }}</td>
            <td>{{ row.title.value }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No result.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
