<h2>Process 
        <small><button class="btn btn-xs copy" data-clipboard-text="{{ process.uri }}">
            <i class="glyphicon glyphicon-copy"></i>
        </button></small>
</h2>
                        
<ul>
    <li>Label: {{ process.label }}</li>
    <li>Description: {{ process.description }}</li>
</ul>