<h2>Process 
        <small><button class="btn btn-xs copy" data-clipboard-text="{{ process.uri }}">
            <i class="glyphicon glyphicon-copy"></i>
        </button></small>
        <a href="{{ path('workflow-process', { 'process_uri': process.uri|url_encode() }) }}" class="btn btn-xs" title="Go to process"><i class="glyphicon glyphicon-search"></i></a>

</h2>
                        
<ul>
    <li>Label: {{ process.label }}</li>
    <li>Description: {{ process.description }}</li>
</ul>